<ion-header>
  <ion-toolbar>
    <ion-buttons start style="order: 1">
      <button ion-button icon-only color="white" menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <span style="color: #fff;">List</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="white">
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
